/**
  Sidebar
**/
.sidebar {
  @media screen and (min-width: 48em) {
    margin-top: 3em;
  }
}
#sidebar {
  background: transparent;
  // border-left: 1px solid #d4ccc8;
  // border-right: 1px solid #d4ccc8;
  position: relative;
  
  @media (min-width: 48em) {
    float: left;
    width: 22.5%;
    min-height: 475px;
    margin-bottom: 28px;
    padding-bottom: 120px;

    &:after {
      // @include background-image(linear-gradient(rgba(250, 244, 241, 0), rgba(251, 245, 241, 1)));
      position: absolute;
      bottom: 0px;
      left: -1px;
      width: 220px;
      height: 120px;
      content: '';
    }
  }

  #back-to-top {
    padding-left: 13px;
    text-align: center;
    display: none;
    @include transition(opacity 0.05s linear);

    @media screen and (max-width: 1200px) {
      padding-left: 0px;
      height: 20px;
      width: 30px;
      overflow: hidden;
    }

    @media screen and (max-width: 1020px) {
      display: none !important;
    }
  }

  a {
    display: inline-block;
    text-decoration: none;
    line-height: 1.5em;
    border-bottom: none;
    color: $orange-darker;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: $black-color;
    }

    &.active {
      color: $black-color;
    }
  }

  ol#toc-list {
    // background: #f9e7e4;

    li {
      font-size: 12px;
      list-style: none;
      margin: 0px;
      padding: 0px;

      p {
        padding-left: 7px;
      }

      a {
        padding: 0 0 0 1em;
        line-height: 1.2em;
        color: $teal;
      }

      > ol {
        display: none;
        margin: 10px 0;

        &.selected {
          display: block;
        }

        li.sub-selected {
          // background-color: #f2d1cb;

          > a {
            font-weight: bolder;
            color: $teal;
          }
        }

      }

      &.level-1 {
        text-transform: uppercase;

        > a {
          display: block;
          color: $orange-darker;
          // border-top: 1px solid #d5ccc8;
          border-bottom: 1px solid #d5ccc8;
          font-size: 1.4em;
          padding: 12px 0 0 0;
          // background-color: rgb(244, 236, 233);

          &:hover {
            color: $orange-darkest;

          }
        }

        & + .level-1 > a {
          margin-top: -1px;
        }

        &.selected > a {
          // background-color: #f16f58;
          // @include background-image(linear-gradient(-90deg, #f67862, #e7624b));
          margin-left: -1px;
          margin-right: -1px;
          color: $white;
          // border-top: 1px solid rgba(255, 255, 255, 0.4);
        }

        &:last-of-type ol {
          border-bottom: 1px solid #d5ccc8;
          padding-bottom: 0.5em;
        }
      }

      &.level-2, &.level-3 {
        a {
          padding: 6px 1em 6px 1em;
          display: block;
          text-transform: none;
          color: $teal;

          &:hover {
            background-color: lighten($teal, 50);
            color: darken($teal, 10);
          }

          &:active {
            color: rgb(94, 94, 94);
          }
        }
      }
    }
  }
}

#guide_search {
  background-color: #fbf8f7;
  border: 1px solid #cccccc;
  position: relative;
  color: #423432;
  display: block;
  width: 100%;
  height: 40px;

  label {
    padding: 0px 0px 5px 15px;
    padding-right: 10px;
    margin-left: 10px;
    background: no-repeat url('/images/search-icon.png');
  }

  border: 0;
  input:-webkit-input-placeholder { font-style: italic; }
  input:         -moz-placeholder { font-style: italic; }
  input:         -moz-placeholder { font-style: italic; }

  input {
    background: none;
    font-size: 12px;
    border: 0px;
    padding: 5px 0px 5px 5px;
    height: 100%;
    width: 165px;
    outline: none;
    font-style: normal;
  }

  button {
    background: no-repeat url('/images/search-erase.png');
    width: 14px;
    border: 0px;
    height: 14px;
    position: absolute;
    cursor: pointer;
    right: 10px;
    top: 15px;
  }
}